body {
	background-color: #92278f;
	background-image: url('../images/background_starburst.gif');
	background-position: center;
}

#container-outer {
	background-color: #662d91;
	background-image: url('../images/star_border.gif');
	background-position: center;
	height: 775px;
	margin: 0 auto;
	width: 1010px;
}

#container-inner {
	background-color: #edd75b;
	height: 720px;
	margin: 0 auto;
	position: relative;
	top: 30px;
	width: 960px;
}

#header {
	background-color: #13a89e;
	background-image: url('../images/header.gif');
	background-repeat: no-repeat;
	height: 40px;
}

#main {
	height: 580px;
	outline: none;
	position: relative;
}

#footer {
	background-color: #13a89e;
	background-image: url('../images/footer.gif');
	background-repeat: no-repeat;
	height: 100px;
}

#monkey {
	background-image: url('../images/monkey.gif');
	background-repeat: no-repeat;
	bottom: 150px;
	height: 164px;
	left: 0;
	position: absolute;
	width: 181px;
	z-index: 1;
}

#bananas {
	bottom: 150px;
	height: 54px;
	left: 33%;
	margin: 0 auto;
	position: absolute;
	width: 372px;
}

#tree {
	background-image: url('../images/tree.gif');
	background-repeat: no-repeat;
	bottom: 150px;
	height: 355px;
	position: absolute;
	right: 0;
	width: 248px;
	z-index: 0;
}

#snacks {
	background-image: url('../images/snacks.gif');
	background-repeat: no-repeat;
	bottom: 38px;
	height: 73px;
	left: 294px;
	position: absolute;
	width: 372px;
	z-index: 0;
}

.banana {
	background-image: url('../images/banana.gif');
	background-repeat: no-repeat;
	float: left;
	height: 54px;
	width: 124px;
}
